version: '3.7'

services:
  skygear-server:
    image: quay.io/skygeario/skygear-server:v1.6.2
    depends_on:
      - postgres
    command: skygear-server --http
  skygear-plugin:
    image: helloworld/skygear-plugin
    build: .
  postgres:
    image: mdillon/postgis:9.5
